---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
	<h1>Your location</h1>
	<span id="location" aria-busy="true">Reverse geocoding...</span>
	<script>
		async function success({ coords: { latitude, longitude} }) {
			const response = await fetch(`https://nominatim.openstreetmap.org/reverse?format=jsonv2&lat=${latitude}&lon=${longitude}&zoom=17`);
			const reverseGeocode = await response.json();

			const span = document.getElementById('location');
			span.setAttribute('aria-busy', 'false');
			span.textContent = reverseGeocode.display_name;
		};

		navigator.geolocation.getCurrentPosition(success);
	</script>
</BaseLayout>
